.App {
  text-align: center;
  background-color: #dddddd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(9, 14, 52);
}

.App-link {
  color: rgb(9, 14, 52);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  background-color: rgb(80, 80, 80);
  height: 80px;
}

.Video {
  width: 60%;
  height: auto;
}

.Video2 {
  width: 300px;
  height: 200px;
  border: 5px solid black;
}