.App {
  text-align: center;
  background-color: #dddddd;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Bottom-Bar {
  height: 20px;
  background-color: rgb(50, 50, 50);
}

.Navbar {
  background-color: rgb(80, 80, 80);
  height: 80px;
}

.Main-content {
  width: 60%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.Video-container {
  height: auto;
  justify-content: center;
}

.Overlay-window {
  width: 400px;
  height: auto;
}

.Video2 {
  width: 60%;
  height: auto;
  border: 5px solid black;
}